$input-height: 60px;
$input-width: 100px;

.content {
    display: flex;
    background-color: #000000;
    padding: 15px;
    border: 2px solid #3498db;
    border-radius: 5px;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 1;
}

#display {
    height: 100px;
    color: white;
    background-color: #2b2a2a;
    margin-bottom: 10px;
}

td input {
    all: unset;
    height: $input-height;
    width: $input-width;
    background-color: #3498db;
    box-shadow: 2px -2px 5px #333333;
    color: #fff; 
    display: flex;
    place-items: center; 
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    font-size: larger;
    align-items: center;
    text-align: center;
    margin: 3px;
    border-radius: 2px;
} 

td input:hover {
    background-color: #2d86c2;
}

input:active {
    background-color: #2774a7;
    transform: scale(0.98) ;
    box-shadow: 1px -1px 1px #2c2c2c;
}

#clear {
    background-color: rgb(117, 34, 34);
    &:hover{
        background-color: rgb(105, 31, 31);
    }
    &:active {
        background-color: rgb(63, 19, 19);
    }
}

#clear,
#zero {
    width: ($input-width * 2) + 8px;
}

#divide,
#multiply,
#subtract,
#add {
    background-color: #5da6d6;
    &:hover {
        background-color: #5394be;
    }
    &:active {
        background-color: #37617c;
    }
}

#equals {
    height: ($input-height * 2) + 8px;
    background-color: rgb(49, 189, 112);
    &:hover {
        background-color: rgb(39, 161, 94);
    }
    &:active {
        background-color: rgb(24, 95, 56);
    }
  }

  span {
    text-align: right;
    padding: 8% 3%;
    height: 100%;
    float: right;
    color: white;
    background-color: #2b2a2a;
}
